

#detalles{
    text-align: center;
    font-family: poppins;
    font-size: 150%;
    padding: 5px 30px;
    background: linear-gradient(-120deg, white 50%, #002c3e 50%);
    height: 100vh;
}

h4{
    font-size: 130%;
    margin: 0%;
    color: #f7f8f3;
}

#ComponentDetailsProduct{
    color: #002c3e;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 400;
    width: 700px; 
    margin: 70px 10px 5px 650px;

 }


#detallescategory{
    display: block;
    width: 500px;
    padding: 20px;
    text-align: center; 
    padding: 2px 50px;
    margin-bottom: 80px;
    color: #f7f8f3;
}
#detalledescription{
    display: block;
    width: 300px;
    padding: 0px;
    text-align: center; 
    padding: 0px; 
    margin-bottom: 0px;
    color: #f7f8f3;
}
#detalleskun{
    display:block;
    padding: 2px 50px;
    margin-bottom: 60px;
    color: #f7f8f3;
}
#detallebrand{
    display: block;
    width: 500px;
    padding: 20px;
    text-align: center;
    padding: 2px 50px;
    margin-bottom: 60px;
    color: #f7f8f3;
}


#detallesimg{
    width: 500px;
    display: inline-block;
    margin: 10px 90px 10px 5px;;
    border-radius: 10%;
   
}


#detalleDivIzquierda{
    display: inline-block;
    margin-top: 80px;
}
#detalleDivDerecha{
    margin-top: 140px;
    float: right;
   
}